[submodule "src/libs/glm"]
	path = src/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/libs/glfw"]
	path = src/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/libs/imgui"]
	path = src/libs/imgui
	url = https://github.com/ocornut/imgui.githttps://github.com/ocornut/imgui.git
